.Winner {
  font-size: 3em;
  color: green;
  padding: 10px 0 0 0;
}

.Loser {
  font-size: 3em;
  color: red;
  padding: 10px 0 0 0;
}

.Tied {
  font-size: 3em;
  color: orangered;
  padding: 10px 0 0 0;
}

.Hidden {
  opacity: 0;
  font-size: 3em;
  color: white;
  padding: 10px 0 0 0;
}